.hdrWrap header>a:nth-child(1){
    margin: 0 auto;
}
.hdrWrap header{
    width: 90%;
    max-width: 700px;
}
.hdrWrap nav{
    display: none;
}

.main{
    width: 90%;
    max-width: 700px;
    display: block;
}
.mainWrap .left{
    width: 100vw;
}
.cnt01 section{
    height: 400px;
}
.left .bgimg{
    width: 100%;
}
.left .ovrGrid{
    width: 100%;
    min-width: 100%;
    margin-left: min(calc((100vw - 700px) / -2), calc((100vw - 90vw) / -2));
    background-image: url('../images/main/main_tab.PNG');
}
.left .logo{
    display: none;
}
.left .btn{
    display: none;
}
.right{
    display: none;
}
.cnt01 article{
    width: calc(100% / 10 - 1.6%);
}
.content{
    width: 90%;
    max-width: 700px;
}
.cnt01 article:nth-child(3), .cnt01 article:nth-child(6), .cnt01 article:nth-child(9), .cnt01 article:nth-child(12), .cnt01 article:nth-child(15){
    display: none;
}
.cnt01 article:nth-child(2), .cnt01 article:nth-child(5), .cnt01 article:nth-child(8), .cnt01 article:nth-child(11), .cnt01 article:nth-child(14){
    width: calc(100% / 10);
    margin: 0 1.6%;
    margin-right: 3.4%;
}
.cnt01 .image.i2, .cnt01 .image.i5, .cnt01 .image.i8, .cnt01 .image.i11, .cnt01 .image.i14{
    height: 360px;
}
.cnt01 article .image{
    height: 280px;
    margin-top: 80px;
}
.cnt01 .paging{
    width: 40px;
    height: 300px;
    flex-direction: column;
    top: 0;
    bottom: 0;
    right: 0;
    left: inherit;
}
.cnt01 .paging li{
    width: 30px;
    height: 30px;
}
.cnt02 article{
    display: block;
   
}
.cnt02 .image{
    width: 100%; 
    direction: ltr;
}
.cnt02 .texts{
    width: 100%;
}
.cnt02 .ovrGrid{
    width: 100vw;
    min-width: 100vw;
    margin-left: min(calc((100vw - 700px) / -2), calc((100vw - 90vw) / -2));
    height: 240px;
}

.cnt03 section{
    margin-top: 40px;
}
.cnt03 .artLeft .ovrGrid{
    height: 400px;
    width: calc((100vw - 700px) / 2 + 100%);
    min-width: calc((100vw - 90vw) / 2 + 100%);
    margin-left: min(calc((100vw - 700px) / -2), calc((100vw - 90vw) / -2));
}
.cnt03 .artLeft{
    width: calc(100% / 8 * 5);
    position: relative;
    height: 400px;
}




.cnt03 .artRight{
    width: calc(100% / 8 * 3);
    display: block;
    position: relative;
    height: 680px;
}
.cnt03 .artRight article{
    width: calc(100% / 3 * 2);
    height: 240px;
    position: absolute;
    top: 80px;
    right: 0;
}
.cnt03 .artRight .image{
    height: 240px;
    position: relative;
}
.cnt03 .artRight .artBtm{
    width: 90vw;
    max-width: 700px;
    height: 240px;

    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
}
.cnt03 .artRight .artBtm>article{
    width: calc(100% / 8 * 2);
    position: absolute;
    top: 0;
}
.cnt03 .artRight .artBtm>article:nth-child(1){
    margin-top: 0px;
    margin-left: 0px;
    left: 0;
}
.cnt03 .artRight .artBtm>article:nth-child(2){
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 0px;
}
.cnt03 .artRight .artBtm>article:nth-child(3){
    margin-top: 0px;
    right: 0;
}
.cnt04 .artView{
    width: calc(100% / 8 * 6);
}
.cnt04 .image{
    height: 200px;
}
.cnt04 .btns{
    width: 100%;
}
.bnrWrap{
    background-color: #000;
}
.bnr01 .bgImgGroup{
    display: none;
}
.bnr01{
    height: 520px;
}
.bnr01 .grid{
    color: #fff;
    text-align: center;
    font-size: 18px;
}
.bnr01 .coverImg{
    width: calc(100% / 8 * 6 + 20px);
}
.bnr01 .grid h2{
    display: block;
    line-height: 80px;
}
.bnr01 .btn{
    width: 100%;
    height: 40px;
    line-height: 40px;
    display: block;
    text-align: right;
    position: absolute;
    bottom: 20px;
}
footer{
    height: 440px;
    position: relative;
}
footer ul{
    height: 40px;
    overflow: hidden;
}
footer ul li{
    border-right: 1px solid pink ;
    text-align: center;
    padding-right: 20px;
}
footer ul li:nth-child(1) i{
    display: inline;
}


footer ul:nth-child(4) li{
    border-right: none;
}
footer .info{
    width: 100%;
    margin-top: 0px;
    position: absolute;
    right: 0;
    bottom: 40px;
}
footer .info h1{
    width: calc(100% / 8);
}