@font-face {
    font-family: 'gowun';
    src: url('./fonts/Gowun_Batang/GowunBatang-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'gowun-bold';
    src: url('./fonts/Gowun_Batang/GowunBatang-Bold.ttf') format('truetype');
}


.image, .bgImg, .coverImg, h1, .logo{
    font-size: 0px;
    line-height: 0px;
    text-shadow: none;
    color: transparent;
}
body, html{
    width: 100vw;
    overflow-x: hidden;
    font-family: 'gowun';
}
html{
    font-size: 3vw;
}
body{
    font-size: 0.7vw;
}
.btn, li, i{
    cursor: pointer;
}
nav h4{
    cursor: pointer;
}
.hdrWrap{
    background-color: #000;
}
.hdrWrap header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #fff;
    line-height: min(2rem, 80px);
    position: relative;
}

.hdrWrap header>a:nth-child(1){
    width: calc(100% / 12 * 2.2);
    height: min(2rem, 80px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/main/hdr_logo.png');
}
.hdrWrap h1{
    opacity: 0;
}
.hdrWrap nav{
    width: calc(100% / 12 * 4.5);
    display: flex;
    justify-content: space-around;
    font-size: min(2em, 20px);
}
.hdrWrap nav i{
    font-size: min(3em, 30px);
}

.hdrWrap .bar::before{
    width: 100%;
    height: 100%;
    background-color: #d0d0d2;
    opacity: 0.5;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}
.hdrWrap .bar{
    width: calc(100% / 12 * 4.5 / 5);
    height: min(6rem, 240px);
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    right: 0px;
    top: min(2rem, 80px);
    opacity: 0;
}
.hdrWrap .bar i{
    line-height: min(1.5rem, 60px);
    font-size: min(3em, 30px);
    color: #000;
    z-index: 5;
}



.main{
    display: flex;
    justify-content: space-between;
}
.main .bgImg{
    width: calc(100% / 3);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: min(21rem, 840px);
}
.main .i1{
    background-image: url('../images/sub02/main_1.jpg');
}
.main .i2{
    background-image: url('../images/sub02/main_2.jpg');
}
.main .i3{
    background-image: url('../images/sub02/main_3.jpg');
}
.cntWrap{
    margin-top: min(2rem, 80px);
}
.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
.content header h2{
    text-align: center;
    line-height: min(1rem, 40px);
    font-size: min(3em, 30px);
    font-family: 'gowun-bold';
}
.content section{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.bnrWrap{
    margin-top: min(2rem, 80px);
}
.banner{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}

.cnt01 .artLeft{
    width: calc(100% / 12 * 7.5);
    height: min(20rem, 800px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cnt01 .image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -40px;
}
.cnt01 .artLeft .artTop{
    width: 100%;
}
.cnt01 .artLeft .artTop .image{
    height: min(12rem, 480px);
    background-image: url('../images/sub02/cnt01_1.jpg');
}
.cnt01 .artBtm{
    width: 100%;
    display: flex;
    justify-content: space-between;

    margin-top: min(1.5rem, 60px);
}
.cnt01 .artBtm .image{
    height: min(6rem, 240px);
}
.cnt01 .artBtm article{
    width: calc(100% / 7.5 * 3.2);
}
.cnt01 .artRight{
    width: calc(100% / 12 * 3);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: min(20rem, 800px);
}
.cnt01 .artRight article{
    width: 100%;
    height: min(6rem, 240px);
}
.cnt01 .artRight article:nth-child(1)~article{
    margin-top: 40px;
}
.cnt01 .artRight article .image{
    height: min(6rem, 240px);
}
.cnt01 .i2{
    background-image: url('../images/sub02/cnt01_2.jpg');
}
.cnt01 .i3{
    background-image: url('../images/sub02/cnt01_3.jpg');
}
.cnt01 .i4{
    background-image: url('../images/sub02/cnt01_4.jpg');
}
.cnt01 .i5{
    background-image: url('../images/sub02/cnt01_5.jpg');
}
.cnt01 .i6{
    background-image: url('../images/sub02/cnt01_6.jpg');
}

.cnt02 .artView{
    width: calc(100% / 12 * 5);
}
.cnt02 .artGroup{
    width: calc(100% / 5 * 4 - 20px);
    margin-left: auto;
    position: relative;
    height: min(14rem, 560px);
}
.cnt02 .artGroup article{
    width: 0%;
    position: absolute;
    top: 0;
    right: 0;
}
.cnt02 .artGroup article.show{
    width: 100%;
}
.cnt02 .artGroup article .image{
    height: min(13rem, 520px);
}
.cnt02 ul{
    width: calc(100% / 5 * 4 - 20px);
    margin-left: auto;
    height: min(1rem, 40px);
    display: flex;
    justify-content: space-around;
}
.cnt02 ul li{
    width: 25px;
    height: 25px;
    background-color: #aaa;
    border-radius: 50%;
}
.cnt02 .image{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.cnt02 ul li.show{
    background-color: #666;
}
.cnt02 .artMid{
    width: calc(100% / 12 * 2.6);
    margin-left: calc(100% / 12 - 20px);
}
.cnt02 article{
    width: 100%;
}
.cnt02 .artMid article:nth-child(2){
    margin-top: min(1rem, 40px);
}
.cnt02 .artMid article .image{
    height: min(6rem, 240px);
}
.cnt02 .artRight{
    width: calc(100% / 12 * 3);
}
.cnt02 .artRight article:nth-child(1)~article{
    margin-top: min(0.5rem, 20px);
}
.cnt02 .artRight .image{
    height: min(4rem, 160px);
    background-position-y: -100px;
}
.cnt02 .i1{
    background-image: url('../images/sub02/cnt02_view_1.jpg');
}
.cnt02 .i2{
    background-image: url('../images/sub02/cnt02_view_2.jpg');
}
.cnt02 .i3{
    background-image: url('../images/sub02/cnt02_view_3.jpg');
}
.cnt02 .i4{
    background-image: url('../images/sub02/cnt02_view_4.jpg');
}
.cnt02 .i5{
    background-image: url('../images/sub02/cnt02_view_5.jpg');
}
.cnt02 .i6{
    background-image: url('../images/sub02/cnt02_1.jpg');
}
.cnt02 .i7{
    background-image: url('../images/sub02/cnt02_2.jpg');
}
.cnt02 .i8{
    background-image: url('../images/sub02/cnt02_3.jpg');
}
.cnt02 .i9{
    background-image: url('../images/sub02/cnt02_4.jpg');
}
.cnt02 .i10{
    background-image: url('../images/sub02/cnt02_5.jpg');
}

.cnt03 .artGroup{
    width: calc(100% / 12 * 2 - 20px);
}
.cnt03 .image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.cnt03 .artGroup article{
    width: 100%;
}
.cnt03 .artGroup article:nth-child(1)~article{
    margin-top: min(1rem, 40px);
}
.cnt03 .artGroup .image{
    height: min(3rem, 120px);
    background-position-y: -40px;
}
.cnt03 .i1{
    background-image: url('../images/sub02/cnt03_1.jpg');
}
.cnt03 .i2{
    background-image: url('../images/sub02/cnt03_2.jpg');
}
.cnt03 .i3{
    background-image: url('../images/sub02/cnt03_3.jpg');
}
.cnt03 .i4{
    background-image: url('../images/sub02/cnt03_4.jpg');
}
.cnt03 .i5{
    background-image: url('../images/sub02/cnt03_5.jpg');
}
.ftrWrap{
    background-color: #878787;
}
footer{
    padding-top: min(1rem, 40px); 
    padding-bottom: min(0.5rem, 20px); 
}

footer nav{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

footer nav li{
    line-height: min(1rem, 40px);
    font-size: min(1.4em, 14px);
}
footer nav li i{
    font-size: min(2em, 20px);
}
footer nav li:nth-child(1){
    font-family: 'gowun-bold';
    line-height: min(1rem, 40px);
    font-size: min(1.8em, 18px);
}
footer ul li:nth-child(1) i{
    display: none;
}

footer .info{
    text-align: right;
    margin-top: max(-3rem, -120px);
}
footer h1{
    width: calc(100% / 12);
    height: min(2rem, 80px);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/main/ftr_logo.png');
    margin-left: auto;
}
footer h4{
    line-height: min(0.5rem, 20px);
}